<%= link_to group, class: "block-link" do %>
  <div class="card group-card flex justify-between items-center">
    <div>
      <h3 style="margin-bottom: 5px;"><%= group.name %></h3>
      <% if group.description? %>
        <p class="text-sm text-muted"><%= group.description.truncate(60) %></p>
      <% end %>
    </div>
    <div class="arrow" style="color: var(--primary); font-size: 1.5rem;">&rarr;</div>
  </div>
<% end %>