<h2>Groupes de compte</h2>

<div id="groups-list">
  <%= render @groups %>
</div>

<%= link_to "Ajouter une PolyBanque", new_group_path,
            id: "btn-add-group",
            class: "button" %>