<% page_header "Algo calculator" %>

<h2>Algo :</h2>
<ul>
  <% @trace.each_with_index do |step, n| %>
    <li>Step <%= n %></li>
    <ul>
      <% step.each_pair do |user, total| %>
        <li>
          <%= user.username %> : <%= total > 0 ? ("+" + total.to_s) : total %> €
        </li>
      <% end %>
    </ul>
    <h4>Proposal : <%= @steps[n] %></h4>
  <% end %>
</ul>

<% page_footer group_path @group %>