<header>
  <%= link_to root_path do %>
    <h1>PolyBanque</h1>
  <% end %>

  <% if content_for?(:page_header) %>
    <h2><%= yield :page_header %></h2>
  <% end %>

  <nav>
    <% if authenticated? %>
      <h3>Coucou, <%= Current.user.username %> !</h3>
      <%= button_to "Déconnexion", session_path, method: :delete, class: "btn-logout" %>
    <% else %>
      <h3>Bienvenue, voyageur !</h3>
    <% end %>
  </nav>
</header>