<div id="operations-section">
  <%= link_to "Nouvelle opération", new_group_operation_path(group),
              id: "btn-add-operation",
              class: "button" %>

  <% if operations.length > 0 %>
    <h3>Opérations précédentes</h3>
  <% end %>

  <div id="operations-list">
    <%= render operations %>
  </div>
</div>